* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

li {
  list-style: none;
  color: rgb(46, 46, 58);
}
body {
  --iframe-color: hue-rotate(290deg);
  --loader-background: hue-rotate(1119deg), contrast(100%);
  --origin-color: white;
  --background-color: rgb(8, 27, 39);
  --box-color: rgb(46, 46, 58);
  --text-color: rgb(234, 166, 51);
  --background-border: rgba(255, 255, 255, 0.116);
  --ontab-color: rgb(234, 166, 51);
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  position: relative;
  transition: 0.2s;
  overflow-x: hidden;
}
body.dark {
  --iframe-color: hue-rotate(170deg);
  --loader-background: hue-rotate(99deg);
  --origin-color: rgb(0, 0, 0);
  --background-color: rgb(250, 250, 250);
  --box-color: #e4e5f1;
  --text-color: #484b6a;
  --background-border: #484b6a2a;
  --ontab-color: rgb(244, 150, 166);
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  position: relative;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 100px;
  z-index: 1000;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.2s;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 15px 0 0 0;
  margin: 0 auto;
  transition: 0.2s;
  img {
    width: 200px;
    transition: 0.2s;
    overflow: hidden;
    filter: drop-shadow(0 0 0.75rem rgb(69, 183, 177));
    transition: 0.2s;
  }
  img.contrast {
    filter: brightness(40%) drop-shadow(10px 10px 0.75rem rgb(255, 209, 217));
  }

  .form {
    float: right;
    --padding: 1.5em;
    --rotate: 80deg;
    --gap: 2em;
    --icon-change-color: var(--text-color);
    --height: 40px;
    width: 200px;
    position: relative;
    border-radius: 20px;
    background-color: var(--box-color);
    justify-self: flex-end;

    label {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: var(--height);
      input {
        width: 83%;
        padding-inline-start: calc(var(--padding) + var(--gap));
        outline: none;
        background-color: transparent;
        border: 0;
        color: var(--origin-color);
      }
      i {
        /* display: block; */
        color: var(--origin-color);
        transition: 0.2s;
        position: absolute;
        height: 15px;
      }
      .icon {
        position: absolute;
        left: var(--padding);
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        .bx-left-arrow-alt {
          transform: rotate(-80deg);
          opacity: 0;
          visibility: hidden;
        }
      }
      .close {
        i {
          position: absolute;
          right: 10px;
          bottom: 12.5px;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }
  .form input:focus ~ .icon {
    transform: rotate(var(--rotate)) scale(1.3);
  }

  .form input:focus ~ .icon .bx-left-arrow-alt {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
  }

  .form input:focus ~ .icon .bx-search-alt-2 {
    opacity: 0;
    visibility: visible;
  }

  .form input:valid ~ .icon {
    transform: scale(1.3) rotate(var(--rotate));
  }

  .form input:valid ~ .icon .bx-left-arrow-alt {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
  }

  .form input:valid ~ .icon .bx-search-alt-2 {
    opacity: 0;
    visibility: visible;
  }
}
.loader {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  top: 25%;
  border-radius: 5px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

.banner-slider{
  position: relative;
  .dots{
    display: flex;
    align-items: center;
    justify-content: center;
    .dot{
      margin: -40px 5px 0 5px;
      bottom: 10px;
      left: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--ontab-color);
      border: 5px;
      z-index: 100;
    }
  }
  .wrapper {
    overflow: hidden;
    position: relative;

    i{
      position: absolute;
      top: 50%;
      z-index: 100;
      color: var(--ontab-color);
      cursor: pointer;
      font-size: 50px;
    }
    i:active{
      color: var(--background-color);
    }
    .arrowLeft{
      left: 10px;
    }
    .arrowRight{
      right: 10px;
    }
    .slider {
      display: flex;
      margin-top: 120px;
      transition: 0.5s;
      img {
        width: 100%;
        scroll-snap-align: start;
        flex: 0 0 100%;
        object-fit: cover;
      }
    }
  }
}

.series {
  background-color: var(--box-color);
  max-height: 80px;
  color: var(--origin-color);
  font-size: 30px;
  font-weight: 700;
  padding: 20px 10px;
  display: block;
  border-radius: 5px;
  transition: 0.2s;
}
.series.grid {
  margin: 12px auto;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    position: fixed;
    left: 0;
    top: 20%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    li {
      margin-left: 10px;
      transition: 0.2s;
      color: var(--origin-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a:hover {
        transform: scale(1.1);
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--origin-color);
        text-decoration: none;
        transition: 0.2s;
        i {
          margin: 5px 0;
          font-size: 20px;
        }
      }
      .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 2.6em;
        height: 1.5em;
        input {
          opacity: 0;
          width: 0;
          height: 0;
        }
        .slider {
          --background: rgb(46, 46, 58);
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: var(--background);
          transition: 0.2s;
          border-radius: 30px;
        }
        .slider:before {
          position: absolute;
          content: "";
          height: 1em;
          width: 1em;
          border-radius: 50%;
          left: 10%;
          bottom: 15%;
          box-shadow: inset 8px -4px 0px 0px rgb(234, 166, 51);
          background: var(--background);
          transition: 0.2s;
        }
        input:checked + .slider {
          background-color: #d2d3db;
        }

        input:checked + .slider:before {
          transform: translateX(100%);

          box-shadow: inset 15px -4px 0px 15px #484b6a;
        }
      }
    }
    a:active {
      color: var(--text-color);
    }
  }
}
.movie {
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 10px;

    img {
      width: 100%;
      transition: 0.2s;
      cursor: pointer;
      border-radius: 5px;
    }

    img:hover {
      transform: scale(1.2);
    }
    div {
      overflow: hidden;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .play {
      position: absolute;
      width: 105px;
      transition: 0.2s;
      opacity: 0;
      border-radius: 5px;
    }
    div:hover .play {
      width: 55px;
      opacity: 1;
    }
    h1 {
      font-size: 20px;
      color: var(--text-color);
      text-align: center;
      margin: 10px 0;
      cursor: pointer;
    }
    small {
      color: gray;
      cursor: pointer;
    }
  }
}
.exchange-page {
  display: flex;
  justify-content: center;
  button {
    margin: 20px 10px 60px 10px;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    color: var(--box-color);
    background-color: var(--text-color);
    cursor: pointer;
  }
  .prev {
    display: none;
  }
}
$main-color: var(--text-color);

.play-page {
  .reference {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    color: var(--origin-color);
    line-height: 40px;
    margin-bottom: 20px;
    position: relative;
    h5,
    h4,
    p,
    h3,
    h2 {
      font-size: 17px;
    }
    h1 {
      display: flex;
      align-items: center;
      position: relative;
    }
    small {
      display: flex;
      align-items: center;
      margin-left: 5px;
      position: relative;
      margin-left: 0;

      button {
        position: relative;
        border: none;
        border-radius: 20px;
        padding: 5px 10px;
        color: var(--text-color);
        margin: 10px 0;
        transition: 0.2s;
        p {
          display: flex;
          align-items: center;
        }
        i {
          cursor: pointer;
          font-size: 20px;
          color: white;
          margin-left: 5px;
        }
      }
      .addBtn {
        background-color: var(--box-color);
        i {
          color: red;
        }
      }
      .removeBtn {
        background-color: red;
        color: white;
        i {
          color: white;
        }
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
      z-index: 100;
    }
    span {
      color: var(--text-color);
    }
  }
}
iframe {
  display: block;
  height: 600px;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  position: relative;
}
iframe::before {
  position: absolute;
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
}

.contain-movies {
  position: fixed;
  right: 10px;
  top: 10px;
  max-height: 200px;
  width: 340px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
  .contain-results {
    display: flex;
    border-bottom: 1px solid var(--background-border);
    cursor: pointer;
    padding: 10px 0;
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      margin-right: 20px;
      padding-left: 5px;
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        color: var(--text-color);
        font-size: 15px;
        margin-bottom: 5px;
      }
      p {
        color: gray;
      }
    }
  }
}
#no-result {
  color: var(--text-color);
  padding: 5px 0;
  font-size: 20px;
  text-align: center;
}
.contain-movies::-webkit-scrollbar {
  width: 5px;
}
.contain-movies::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}
/* The switch - the box around the slider */
.card-loader {
  overflow: visible;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  max-height: 414px;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
  overflow: hidden;
}
.card-recss {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  filter: var(--loader-background);

  img {
    width: 100%;
  }
  div {
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  h1 {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    margin: 10px 0;
  }
  small {
    color: gray;
  }
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(224, 224, 224, 0.333),
    transparent 100%
  );
  animation: card-loader-animation 1s infinite;
}

@keyframes card-loader-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.similar {
  .alt-img {
    filter: hue-rotate(20deg);
    filter: brightness(1%);
  }
}
#color-iframe {
  filter: var(--iframe-color);
}
.slider-performer {
  .wrapper {
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-color: red;
    scrollbar-width: 10px;

    .list-moviecast {
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      .item {
        margin: 20px 0 0 0;
        flex: 0 0 100%;
        max-height: 480px;
        img {
          width: 100%;
          border-radius: 5px;
        }
        h1 {
          margin-top: 10px;
          text-align: center;
          color: var(--text-color);
          font-size: 20px;
        }
      }
    }
  }
  .wrapper::-webkit-scrollbar {
    width: 0px;
  }
}
.noResultFavourite {
  color: var(--text-color);
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 739px) {
  body::-webkit-scrollbar {
    width: 2px;
  }
  .slider-performer {
    .wrapper {
      .list-moviecast {
        .item {
          h1 {
            font-size: 12px;
          }
        }
      }
    }
  }
  .form {
    margin-top: 0;
  }
  body {
    overflow-x: hidden;
  }

  .overlay {
    height: 65px;
  }
  .header {
    img {
      margin-top: 0;
    }
    .form {
      width: 170px;
      margin-top: 0;
    }
    input:focus {
      width: 150px;
    }
  }

  .movie {
    .card {
      img:hover {
        transform: unset;
      }
      h1 {
        cursor: pointer;
        font-size: 12px;
      }
      small {
        cursor: pointer;
        font-size: 10px;
      }
      div {
        border-radius: 5px;
      }
      .play {
        width: 75px;
        filter: contrast(60%);
      }
      div:hover .play {
        width: 40px;
      }
    }
  }
  .series {
    padding: 5px 7px;
    font-size: 20px;
    border-radius: 0;
    display: block;
    margin-bottom: 20px;
  }

  .banner-slider{
    .wrapper {
      i{
        font-size: 30px;
        top: 57%;
      }
      .arrowLeft{
        left: 5px;
      }
      .arrowRight{
        right: 5px;
      }
      .slider {
     margin-top: 80px;
      }
    }
  }

  .navbar {
    ul {
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      width: 100%;
      height: 54px;
      background-color: var(--background-color);
      bottom: 0;
      top: unset;
      flex-direction: row;
      z-index: 1000;

      height: 50px;
      li {
        height: 50px;
        list-style: none;
        font-size: 13px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
      }
    }
  }
  .contain-movies {
    padding: 10px;
    position: fixed;
    top: 10%;
    right: 0;
    max-height: 220px;
  }
  .reference {
    flex-wrap: wrap;
    font-size: 13px;
    h5,
    h4,
    p,
    h3,
    h2 {
      font-size: 14px;
    }
    img {
      height: 100%;
    }
  }
  .play-page {
    .reference {
      margin-top: 70px;
      img {
        border-radius: 5px;
        height: 450px;
      }
    }
  }
}
#popular-series {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 15px;
    padding-right: 20px;
  }
}
@media (max-width: 360px) {
  .banner-slider{
    .wrapper {
      i{
        font-size: 30px;
        top: 57%;
      }
      .arrowLeft{
        left: 5px;
      }
      .arrowRight{
        right: 5px;
      }
      .slider {
     margin-top: 80px;
      }
    }
  }
  .play-page {
    .reference {
      line-height: 30px;
      h5,
      h4,
      p,
      h3,
      h2 {
        font-size: 15px;
      }
    }
  }

  .iframe {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 0;
  }
  #color-iframe {
    filter: var(--iframe-color);
  }
  .slider {
    img {
      margin-top: 0px;
      width: 100px;
    }
  }
  body {
    padding: 0 5px;
  }

  .header {
    padding: 0px 5px 0 5px;
    img {
      width: 70px;
    }
  }
  .contain-movies {
    width: 100%;
    top: 12%;
  }
  .slider-performer {
    .wrapper {
      .list-moviecast {
        .item {
          h1 {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (min-width: 360px) and (max-width: 600px) {
  .play-page {
    .reference {
      line-height: 35px;
      h5,
      h4,
      p,
      h3,
      h2 {
        font-size: 15px;
      }
    }
  }

  .contain-movies {
    width: 100%;
    top: 8%;
  }
  .iframe {
    width: 100%;
    height: 270px;
    margin-bottom: 20px;
    border-radius: 0;
  }
  body {
    padding: 0 10px;
  }
  .header {
    padding: 10px 10px 0 10px;
    img {
      width: 100px;
    }
    .form {
      margin-top: 2px;
    }
  }
  .slider-performer {
    .wrapper {
      .list-moviecast {
        .item {
          h1 {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 739px) {
  .iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 0;
  }
  .form {
    margin-top: 0;
  }
  body {
    padding: 0 10px;
  }
  .header {
    padding: 10px;
    img {
      width: 160px;
    }
  }
  .contain-movies {
    top: 8%;
  }
  .slider-performer {
    .wrapper {
      .list-moviecast {
        .item {
          h1 {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (min-width: 739px) and (max-width: 1024px) {
  .header {
    padding: 10px;
  }
  .form {
    margin-top: 0;
  }
  .iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .contain-movies {
    padding: 10px;
    position: fixed;
    top: 10%;
    right: 0;
  }
  .navbar {
    ul {
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      width: 100%;
      height: 70px;
      background-color: var(--background-color);
      bottom: 0;
      top: unset;
      flex-direction: row;
      z-index: 1000;
      height: 50px;
      li {
        height: 50px;
        list-style: none;
        font-size: 17px;
      }
    }
  }
  .reference {
    flex-wrap: wrap;
  }
  .slider-performer {
    .wrapper {
      .list-moviecast {
        .item {
          h1 {
            font-size: 17px;
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1425px) {
  .body {
    overflow-x: hidden;
  }
  .contain-movies {
    padding: 10px;
    position: fixed;
    top: 10%;
    right: 0;
  }
  .navbar {
    ul {
      width: 100%;
      height: 80px;
      background-color: var(--background-color);
      bottom: 0;
      top: unset;

      flex-direction: row;
      z-index: 1000;

      height: 50px;
      li {
        height: 50px;
        list-style: none;
        font-size: 20px;
      }
    }
  }
}
@media (min-width: 1425px) and (max-width: 1900px) {
  .contain-movies {
    padding: 10px;
    position: fixed;
    top: 10%;
    right: 0;
  }
}
